body {

}

#logo-image {
  width: 20%;
  margin-left: 40%;
}

.app__container {
  width: 100vw;
}

.aae__container {
  width: 100%;
}

.aae-section__container {
  width:100%;
  padding-top: 32px;
}

.aae-section__container.header {
  height: 768px;

  background-color: #4dadce;
  background-repeat: no-repeat;
  background-image: url('images/bars.png'), linear-gradient(105deg, #4DADCE, #2c84e4);;
  background-size: cover;
}

.aae-section__container:nth-child(2n) {
  background-color: #509ee3;
}

.aae-section__container:nth-child(2n+1) {
  background-color: #3288e4;
}

.aae-section__container.footer {

}

.signup-form__content > div.title {
  font-family: 'Avenir next', sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 32px;
}

.signup-form__content > div.notice {
  color: #66aae3;

  font-size: 14px;
  font-family: 'Avenir next', sans-serif;
  font-weight: 400;

  text-align: center;
  margin-top: 32px;
  padding-bottom: 32px;
}

.signup-form__content > form {
  font-family: 'Moderneratrial', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.signup-form__content > form > input.email {
  border-radius:8px;
  border: 1px solid #fff;

  margin-left:36.25%;

  width: 27.5%;
  height:50px;

  padding-left: 16px;
  padding-right: 16px;

  display: block;

  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup-form__content > form > button.submit-button {
  border-radius: 8px;
  border: 1px solid #FDCD18;
  margin-top: 16px;
  margin-left:36.25%;

  width: 27.5%;
  height: 48px;

  color: #fff;
  background-color: #FDCD18;
  display: block;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup-form__content > form > button.submit-button:hover {
  opacity: 0.75;
  cursor:pointer;
}

@media (max-width: 1024px) {
  #logo-image {
    width: 30%;
    margin-left: 35%;
  }
}

@media (max-width: 768px) {
  #logo-image {
    width: 30%;
    margin-left: 35%;
  }

  .signup-form__content > form > input.email {
    width: 40%;
    margin-left: 30%;
  }
  .signup-form__content > form > button.submit-button {
    width: 40%;
    margin-left: 30%;
  }
}

@media (max-width: 512px) {
  #logo-image {
    width: 40%;
    margin-left: 30%;
  }
  .signup-form__content > form > input.email {
    width: 80%;
    margin-left: 10%;
  }
  .signup-form__content > form > button.submit-button {
    width: 80%;
    margin-left: 10%;
  }
}
