$background_color_1: #3288e4;
$background_color_2: #509ee3;

#logo-image {
	width: 15%;
	margin-left: 42.5%;
}
#main-splash {
	width: 80%;
	margin-left: 10%;
	margin-top: 50px;
}
.app__container {
	width: 100vw;
}
.aae__container {
	width: 100%;
}
.aae-section__container {
	&::after {
		content: " ";
		display: block;
		height: 0;
		clear: both;
		width: 100%;
	}
	>div.wrapper {
		display: inline;
		float: left;
		width: 50%;
		padding: 32px;
		>img.feature__image {
			width: 80%;
			margin-left: 10%;
			margin-right: 10%;
		}
		>div.feature__action {
			font-family: 'Avenir', sans-serif;
			font-size: 2.5em;
			font-weight: 600;
			color: white;
			width: 80%;
			margin: 10%;
		}
		>div.feature__result {
			font-family: 'Avenir', sans-serif;
			font-size: 1.5em;
			font-weight: 300;
			color: white;
			width: 80%;
			margin-left: 10%;
			margin-right: 10%;
			margin-bottom: 10%;
			margin-top: 128px;
		}
	}
	&:nth-child(2n) {
		background-color: $background_color_1;
		>div.wrapper {
			float: right;
		}
	}
	&:nth-child(2n+1) {
		background-color: $background_color_2;
	}
}
.aae-section__container.header {
	padding-top: 32px;
	padding-bottom: 96px;
	background-color: $background_color_1;
	background-repeat: no-repeat;
	background-image: url('images/transparent-bars.png');
	background-size: cover;
	>div.title {
		font-family: 'Avenir', sans-serif;
		font-size: 50px;
		font-weight: 700;
		color: white;
		text-align: center;
		margin-top: 80px;
		margin-bottom: 0px;
		line-height: 1.0;
	}
}
.aae-section__container.footer {
	padding: 32px;
}
.signup-form__content {
	>div.title {
		font-family: 'Avenir next', sans-serif;
		font-size: 2.5em;
		font-weight: 600;
		color: white;
		text-align: center;
		margin-bottom: 32px;
	}
	>div.notice {
		color: #66aae3;
		font-size: 14px;
		font-family: 'Avenir next', sans-serif;
		font-weight: 400;
		text-align: center;
		margin-top: 32px;
	}
	>form {
		font-family: 'Moderneratrial', sans-serif;
		font-size: 18px;
		font-weight: 300;
		>input.email {
			border-radius: 8px;
			border: 1px solid #fff;
			margin-left: 36.25%;
			width: 27.5%;
			height: 50px;
			padding-left: 16px;
			padding-right: 16px;
			display: block;
			text-align: center;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		>button.submit-button {
			border-radius: 8px;
			border: 1px solid #FDCD18;
			margin-top: 16px;
			margin-left: 36.25%;
			width: 27.5%;
			height: 48px;
			color: #fff;
			background-color: #FDCD18;
			display: block;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			&:hover {
				opacity: 0.75;
				cursor: pointer;
			}
		}
	}
}
@media (max-width: 1024px) {
	#logo-image {
		width: 25%;
		margin-left: 37.5%;
	}
}
@media (max-width: 768px) {
	#logo-image {
		width: 30%;
		margin-left: 35%;
	}
	.aae-section__container {
		>div.wrapper {
			width: 100%;
			text-align: center;
			padding: 16px;
			>div.feature__action {
				font-size: 2.5em;
				margin-top: 0%;
			}
			>div.feature__result {
				font-size: 1.5em;
				margin-top: 64px;
				margin-bottom: 32px;
			}
		}
	}
	.signup-form__content {
		>form {
			>input.email {
				width: 40%;
				margin-left: 30%;
			}
			>button.submit-button {
				width: 40%;
				margin-left: 30%;
			}
		}
	}
}
@media (max-width: 512px) {
	#logo-image {
		width: 40%;
		margin-left: 30%;
	}
	.aae-section__container {
		>div.wrapper {
			>div.feature__result {
				font-size: 1.25em;
			}
		}
	}
	.signup-form__content {
		>form {
			>input.email {
				width: 80%;
				margin-left: 10%;
			}
			>button.submit-button {
				width: 80%;
				margin-left: 10%;
			}
		}
	}
}
