$font_family_1: 'Avenir', sans-serif;
$font_family_2: 'Avenir next', sans-serif;
$font_family_3: 'Moderneratrial', sans-serif;
$linear_gradient_color_1: #d2e161;
$linear_gradient_color_2: #6bb182;
$background_color_dark: #fff;
$background_color_light: #fff;
$background_color_submit: #fdcd18;
$background_color_header: #f09358;
$background_color_footer: #f09358;
$header_content_color: #ffffff;
$section_content_color_action: #212121;
$section_content_color_result: #7c7c7c;
$notice_content_color: #ffffff;

#logo-image {
	width: 15%;
	margin-left: 42.5%;
}
#main-splash {
	width: 80%;
	margin-left: 10%;
	margin-top: 50px;
}
.app__container {
	width: 100vw;
}
.aae__container {
	width: 100%;
}
.aae-section__container {
	&::after {
		content: " ";
		display: block;
		height: 0;
		clear: both;
		width: 100%;
	}
	background-repeat: no-repeat;
	background-size: contain;
	>div.wrapper {
		display: inline;
		float: left;
		width: 50%;
		padding: 32px;
		height: 100%;
    >img.feature__image {
			width: 80%;
			margin:10%;
		}
		>div.feature__action {
			font-family: $font_family_1;
			font-size: 3em;
			font-weight: 600;
			color: $section_content_color_action;
			width: 80%;
			margin-left: 10%;
			margin-top: 5%;
			line-height: 1.25;
		}
		>div.feature__result {
			font-family: $font_family_1;
			font-size: 1.5em;
			font-weight: 300;
			color: $section_content_color_result;
			width: 80%;
			margin-left: 10%;
			margin-right: 10%;
			margin-bottom: 10%;
			margin-top: 128px;
		}
	}
	&:nth-child(2n) {
		background-color: $background_color_dark;
		>div.wrapper {
			float: right;
		}
	}
	&:nth-child(2n+1) {
		background-color: $background_color_light;
	}
}
.aae-section__container.header {
	padding-top: 32px;
	padding-bottom: 256px;
	//background-color: $background_color_header;
	//background-repeat: no-repeat;
	// background-image: url('images/template/transparent-bars.png'),
	// linear-gradient(
	// 	to top right,
	// 	$linear_gradient_color_1,
	// 	$linear_gradient_color_2);
	background-image: url('images/template/triangle_backv3_up.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	margin-bottom: 6%;
	>div.title {
		font-family: $font_family_1;
		font-size: 75px;
		font-weight: 700;
		color: $header_content_color;
		text-align: center;
		margin-top: 80px;
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 20px;
		line-height: 1.0;
		text-shadow: 2px 2px 8px rgba(0,0,0,0.1);
	}
	>div.sub-title {
		font-family: $font_family_1;
		font-size: 40px;
		font-weight: 400;
		color: $header_content_color;
		text-align: center;
		margin-top: 40px;
		margin-left: 20%;
		margin-right: 20%;
		margin-bottom: 20px;
		line-height: 1.25;
	}
}
.aae-section__container.first {
	//background-image: url('./images/template/rect_back.svg');
}
.aae-section__container.second {
	background-image: url('./images/template/rect_back.svg');
	background-position: right;
	// >div.wrapper {
	// 	>div.feature__action {
	// 		color: white;
	// 	}
	// 	>div.feature__result {
	// 	  color: white;
	// 	}
	// }
}
.aae-section__container.third {
	// background-image: url('./images/template/triangle_back.svg');
}

.aae-section__container.footer {
	background-image: url('./images/template/triangle_backv3.svg');
	background-size: cover;

	// background-image: url(''),
	// linear-gradient(
	// 	to top right,
	// 	$linear_gradient_color_2,
	// 	$linear_gradient_color_1);
	padding: 32px;
	padding-top: 16%;
}
.signup-form__content {
	>div.title {
		font-family: $font_family_2;
		font-size: 2.5em;
		font-weight: 600;
		color: white;
		text-align: center;
		margin-bottom: 32px;
		text-shadow: 2px 2px 8px rgba(0,0,0,0.1);
	}
	>div.notice {
		color: $notice_content_color;
    opacity: 0.4;
		font-size: 14px;
		font-family: $font_family_2;
		font-weight: 400;
		text-align: center;
		margin-top: 32px;
	}
	>form {
		font-family: $font_family_3;
		font-size: 18px;
		font-weight: 300;
		>input.email {
			border-radius: 8px;
			border: 1px solid #fff;
			margin-left: 36.25%;
			width: 27.5%;
			height: 50px;
			padding-left: 16px;
			padding-right: 16px;
			display: block;
			text-align: center;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		>button.submit-button {
			border-radius: 8px;
			border: 1px solid $background_color_submit;
			margin-top: 16px;
			margin-left: 36.25%;
			width: 27.5%;
			height: 48px;
			color: #fff;
			background-color: $background_color_submit;
			display: block;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			&:hover {
				opacity: 0.75;
				cursor: pointer;
			}
		}
	}
}
@media (max-width: 1024px) {
	#logo-image {
		width: 25%;
		margin-left: 37.5%;
	}
}
@media (max-width: 768px) {
	#logo-image {
		width: 30%;
		margin-left: 35%;
	}
	.aae-section__container {
		>div.wrapper {
			width: 100%;
			text-align: center;
			padding: 16px;
			>div.feature__result {
				font-size: 1.5em;
				margin-top: 64px;
				margin-bottom: 32px;
			}
		}
	}
	.aae-section__container.header {
		>div.title {
			font-size: 60px;
		}
		>div.sub-title {
			font-size: 32px;
			margin-left: 12%;
			margin-right: 12%;
		}
	}
	.signup-form__content {
		>form {
			>input.email {
				width: 40%;
				margin-left: 30%;
			}
			>button.submit-button {
				width: 40%;
				margin-left: 30%;
			}
		}
	}
}
@media (max-width: 512px) {
	#logo-image {
		width: 40%;
		margin-left: 30%;
	}
	.aae-section__container {
		>div.wrapper {
			>div.feature__result {
				font-size: 1.25em;
			}
		}
	}
	.aae-section__container.header {
		>div.title {
			font-size: 50px;
		}
		>div.sub-title {
			font-size: 24px;
			margin-left: 8%;
			margin-right: 8%;
		}
	}
	.signup-form__content {
		>form {
			>input.email {
				width: 80%;
				margin-left: 10%;
			}
			>button.submit-button {
				width: 80%;
				margin-left: 10%;
			}
		}
	}
}
